.nomination {
  width: 100%;
}
.nomination .dropdown__menu {
  display: none;
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-height: 134px;
  overflow-y: auto;
  margin-top: 5px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 6px 18px 0px rgba(20, 20, 20, 0.12);
  z-index: 2;
  top: 94px;
}

.nomination .dropdown-menu-webkit-scrollbar {
  display: none;
}

.dropdown__menu label {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  color: #141414;
  text-overflow: ellipsis;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  gap: 10px;
  margin-top: 5px;
}

.dropdown__menu label:hover,
.dropdown__menu label.active {
  background: #f1f4f9;
}

.dropdown__menu label {
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.nomination .nomination_input.form-control {
  background-color: #fff;
  padding: 15px 25px 15px 20px;
}

.wrapper.straxovanie2 .form-groupitem.select {
  background: transparent;
}

.form-groupitem:last-child {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.tourists_count.show_select .tourists_count_select {
  transform: translate(0);
  opacity: 1;
  visibility: visible;
  background: #fff;
  z-index: 2;
}
.tourists_count {
  position: relative;
}
.tourists_count_select {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 0 10px 20px;
  background-color: #fff;
  border-top: none;
  border-radius: 0 0 8px 8px;
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease;
  border: 1px solid #f2f2f2;
  border-top: none;
}
.tourists_count_select .selected_item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 35px 12px 7px;
  font-size: 13px;
  color: #34434c;
  background-color: #fef4f5;
  border-top: 1px solid #f2f2f2;
}

.form-groupitem.select input {
  background: #fff;
}
/* dropdown */
.dropdown,
.dropdown-center,
.dropend,
.dropstart,
.dropup,
.dropup-center {
  position: relative;
  width: 100%;
}

.dropdown-toggle {
  white-space: nowrap;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 10rem;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0.5rem;
  --bs-dropdown-spacer: 0.125rem;
  --bs-dropdown-font-size: 1rem;
  --bs-dropdown-color: #212529;
  --bs-dropdown-bg: #fff;
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-border-radius: 0.375rem;
  --bs-dropdown-border-width: 1px;
  --bs-dropdown-inner-border-radius: calc(0.375rem - 1px);
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-divider-margin-y: 0.5rem;
  --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-dropdown-link-color: #212529;
  --bs-dropdown-link-hover-color: #1e2125;
  --bs-dropdown-link-hover-bg: #e9ecef;
  --bs-dropdown-link-active-color: #fff;
  --bs-dropdown-link-active-bg: #0d6efd;
  --bs-dropdown-link-disabled-color: #adb5bd;
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-item-padding-y: 0.25rem;
  --bs-dropdown-header-color: #6c757d;
  --bs-dropdown-header-padding-x: 1rem;
  --bs-dropdown-header-padding-y: 0.5rem;
  position: absolute;
  z-index: var(--bs-dropdown-zindex);
  display: none;
  min-width: var(--bs-dropdown-min-width);
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
  margin: 0;
  font-size: var(--bs-dropdown-font-size);
  color: var(--bs-dropdown-color);
  text-align: left;
  list-style: none;
  background-color: var(--bs-dropdown-bg);
  background-clip: padding-box;
  border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
  border-radius: var(--bs-dropdown-border-radius);
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0;
  margin-top: var(--bs-dropdown-spacer);
}

.dropdown-menu-start {
  --bs-position: start;
}

.dropdown-menu-start[data-bs-popper] {
  right: auto;
  left: 0;
}

.dropdown-menu-end {
  --bs-position: end;
}

.dropdown-menu-end[data-bs-popper] {
  right: 0;
  left: auto;
}
.dropdown-toggle {
  white-space: nowrap;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.tourists_count_select .add_new_tourist .dropdown-menu li a {
  font-size: 14px;
  color: #666666;
  text-decoration: none;
  display: block;
  padding: 8px 10px;
  line-height: 1;
  border-radius: 6px;
  border: 1px solid transparent;
}
.dropdown-menu.show {
  display: block;
}
input[name="tourists_count_text"].active {
  border-bottom: 0;
  border-radius: 0.25rem 0.25rem 0 0;
  border-color: #f2f2f2;
}

.selected_count_item {
  padding: 12px 35px 12px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #000000;
  font-weight: 400;
  border-top: 1px solid #f2f2f2;
  width: 100%;
}
.show_select input:focus {
  box-shadow: 0 0 0 transparent;
  border-color: #f2f2f2;
  border-bottom: 0;
  border-radius: 0.25rem 0.25rem 0 0;
}

.selected_count_item input {
  width: 100%;
  border: none;
  outline: none;
  color: #000000;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 20px;
  width: 60px;
  padding: 8px 10px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
}
.selected_count_item input:focus {
  border: 1px solid #199bc5;
  border-radius: 8px !important;
}
.selected_count_item .exit_count_item {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex: 0 0 auto;
  border-radius: 50%;
  background-color: #fff;
  color: #c3c3c3;
  font-weight: 200;
  border: 1px solid #c3c3c3;
}
.count_den_lists {
  width: 100%;
  padding: 15px 0 40px;
  display: none;
}
.count_den_content {
  width: 100%;
  max-width: 660px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: absolute;
  flex-wrap: wrap;
  z-index: 2;
}
@media (max-width: 1024px) {
  .count_den_content {
    position: static;
  }
}
.count_den_content .count_den_item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #999999;
  font-weight: 400;
  cursor: pointer;
}
.count_den_content .count_den_item input:checked ~ span {
  color: #000000;
}
@media (max-width: 1200px) {
  .count_den_content .count_den_item {
    width: calc(33% - 20px);
  }
}
@media (max-width: 992px) {
  .count_den_content {
    max-width: 380px;
  }
  .count_den_content .count_den_item {
    width: calc(50% - 20px);
  }
}
@media (max-width: 768px) {
  .count_den_lists {
    order: 5;
  }
}
.count_den_lists {
  display: none;
}
@media (max-width: 480px) {
  .count_den_lists.mobile_none {
    display: none !important;
  }
}
.slide_content-filter {
  display: none;
}
.form-check-input:checked ~ .form-check-label {
  color: #000000;
  font-weight: 700;
}
.all_filters {
  display: none;
}
.options i {
  transform: rotate(180deg);
  line-height: 0;
  transition: all 0.2s linear;
}

.options.active i {
  transform: rotate(0deg);
  line-height: normal;
}

.all_turist_btn {
  padding: 10px;
  width: 100%;
  font-size: 14px;
  text-decoration: underline;
  color: #199bc5;
  font-weight: 400;
  text-align: center;
  background: #effbff;
  cursor: pointer;
}
.all_turist_btn.active i {
  transform: rotate(180deg);
}
.all_turist_btn .all_turist_btn_text_down {
  transform: scale(0);
  transition: all 0.2s linear;
  position: absolute;
}
.all_turist_btn.active .all_turist_btn_text_down {
  transform: scale(1);
  position: static;
}
.all_turist_btn.active .all_turist_btn_text {
  transform: scale(0);
  position: absolute;
}
.calculating-tourist__buyright-tab {
  display: none;
}
.content_all_tourist .calculating-tourist__buy-rightitem {
  transform: scaleY(0);
  opacity: 0;
  position: absolute;
  transition: all 0.2s linear;
  left: 0;
  top: 0;
}
.content_all_tourist .calculating-tourist__buy-rightitem:first-child {
  transform: scaleY(1);
  opacity: 1;
  position: static;
}
.calculating-tourist__buy-rightitem.active {
  transform: scaleY(1);
  opacity: 1;
  position: static;
}
.content_all_tourist {
  position: relative;
}
.calculating-tourist__promocodes {
  border-bottom: 1px solid #199bc5;
  max-width: 340px;
}
@media (max-width: 768px) {
  .calculating-tourist__promocodes {
    border-bottom: none;
  }
  .calculating-tourist__promocodes-item:first-child {
    padding: 5px 20px;
  }
  .addoptions {
    text-decoration: underline;
  }
}
#from_date,
#to_date {
  background: #fff;
}
.date_wrap {
  width: 100%;
  position: relative;
}
.date_wrap .block-text {
  position: absolute;
  left: 15px;
  top: 12.5px;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #999999;
  font-weight: 400;
}
.date_wrap input {
  text-indent: 40px;
}
.date_wrap input#to_date {
  text-indent: 72px;
}
.date_wrap::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(../images/calendar.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 20px;
  right: 20px;
}
.calculating-tourist__inner {
  padding-bottom: 20px;
}
.currency_toggle {
  display: flex;
  background: #e3f4fb;
  border-radius: 30px;
  overflow: hidden;
  width: 90px;
  height: 34px;
  border: 1px solid #b3e4f6;
  position: relative;
  margin-left: auto;
}

/* Yashirin radio tugmalar */
.currency_toggle input[type="radio"] {
  display: none;
}

.currency_option {
  flex: 1;
  text-align: center;
  line-height: 34px;
  font-weight: bold;
  font-size: 18px;
  color: #39a8cc;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 30px;
}
/* Tanlangan radio tugma uchun label */
input[type="radio"]:checked + label {
  background-color: #39a8cc;
  color: #fff;
}
.promocode_tickeds {
  padding: 24px 22px;
  border-radius: 16px;
  background: #e1f8f2;
  border: 1px solid #d3ebe2;
  margin-top: 18px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 768px) {
  .promocode_tickeds {
    display: none;
  }
}
.promocode_tickeds-title {
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
}
.promocode_tickeds-item {
  display: flex;
  margin-top: 10px;
  border-radius: 38px;
  background: #fff;
  width: 100%;
}
.promocode_tickeds-item input {
  background: #fff;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: normal;
  color: #999999;
  font-weight: 400;
  border-radius: 38px 0 0 38px;
  padding: 20px 11px;
  outline: 0;
  width: 90%;
  border: none;
}
.promocode_tickeds-item .btn {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: normal;
  color: #ffffff;
  font-weight: 700;
  background: #33cc66;
  border-radius: 38px;
  padding: 11px 20px;
  outline: 0;
  border: none;
  cursor: pointer;
}
.promocode_tickeds_img {
  position: absolute;
  right: -11px;
  top: 8px;
}
.all_contents-checks {
  display: none;
}
.mobilehide.form-group__bottom
  input[type="checkbox"]:checked
  ~ .form-check-label {
  color: #000;
  font-weight: 400;
  font-size: 14px;
}

.customs_check {
  width: 20px;
  height: 20px;
  border: 1px solid #0099cc;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  top: 5px;
}

.form-check-label {
  color: #999999;
  font-weight: 100;
  font-size: 14px;
  padding-left: 0px;
}
.customs_check input {
  display: none;
}
.form-check {
  padding-left: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  left: 50%;
  top: 40%;
  width: 6px;
  height: 10px;
  border: solid #0099cc;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
  transition: 0.2s ease;
}
.customs_check input:checked + .checkmark {
  opacity: 1;
}
.filters {
  max-width: 320px;
}
@media (max-width: 768px) {
  .filters {
    width: 100%;
    max-width: 100%;
  }
  .calculating-tourist__promocodes {
    width: 100%;
    max-width: 100%;
  }
}
.mobileshow.first {
  display: none !important;
  @media (max-width: 768px) {
    display: flex !important;
  }
}
@media (max-width: 768px) {
  .form-groupitem.last {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0px;
  }
  .mobileshow.first {
    display: flex;
  }
}
.mobileshow .form-check-label {
  padding-left: 10px;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #999999;
  font-weight: 400;
}
.mobileshow .customs_check {
  border-color: #999999;
}
.mobileshow.openshow .customs_check {
  border-color: #0099cc;
}
.mobileshow.openshow .form-check-label {
  color: #000;
  font-size: 14px;
}
.mobileshow.openshow ~ .count_den_lists .count_den_content {
  gap: 12px;
}
